.form {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
}

.form__input {
    flex-grow: 1;
    border: 2px solid #f1f1f1;
    padding: 10px;
}

@media (max-width: 767px) {
    .form__input {
        flex-basis: 100%;
    }
}

.form__button {
    background-color: teal;
    color: white;
    padding: 10px;
    margin-left: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: 0.3s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 31%);
    transform: scale(1.05);
}

.form__button:active {
    background-color: hsl(180, 100%, 34%);
}

@media (max-width: 767px) {
    .form__button {
        flex-basis: 100%;
        margin: 20px 0;
    }
}